@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-around-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-only-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin flex-item-only-center {
  display: flex;
  align-items: center;
}

@mixin btnBgClr($bgColor, $color) {
  padding: 10px 15px;
  border-radius: 0.625rem;
  margin-top: 1rem;
  border: 1px solid #fff;
  // background:#FF8787;
  background: $bgColor;
  font-size: 18px;
  color: $color;
}
