@import "./mixin";
@import "./colors";

.event-section {
  width: 100%;
  height: 80rem;
}
.event-container {
  @include flex-direction-column;
  padding: 4rem 0;
  gap: 5rem;
  .event-title {
    color: #000;
  }
  .event-cards {
    @include grid;
    padding: 1rem;
    column-gap: 4rem;
    .card {
      background-color: #f2f2f2;
      @include flex-column;
      width: 35rem;
      height: 55rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transition: background-color 1s ease;
      &:hover {
        background-color: #fff;
        cursor: pointer;
      }
      .card-image {
        img {
          width: 35rem;
          height: 30rem;
          overflow: hidden;
          object-fit: cover;
        }
      }
      .card-content {
        line-height: 1rem;
        padding: 2rem;
        h4 {
          font-size: 1.8rem;
          padding: 2rem 0;
        }
        .event-btn {
          padding: 1rem 2rem;
          background: $main-color;
          border-radius: 0.5rem;
          border: none;
          margin-top: 2rem;
          color: $white;
          transition: 0.5s;
          &:hover {
            background-color: #000;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*.....Media Query........ */

@media (max-width: 1200px) {
  .event-container {
    .event-cards {
      .card {
        width: 28rem;
        height: 45rem;
        border-radius: 0.5rem;
        .card-image {
          img {
            width: 28rem;
            height: 25rem;
          }
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .event-section {
    height: 110rem;
  }
  .event-container {
    .event-cards {
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
      column-gap: 3rem;
      row-gap: 3rem;
      .card {
        width: 30rem;
        height: 40rem;
        .card-image {
          img {
            width: 30rem;
            height: 20rem;
          }
        }
        .card-content {
          line-height: 2rem;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .event-section {
    height: 110rem;
  }
  .event-container {
    .event-cards {
      grid-template-columns: 1fr 1fr;
      .card {
        width: 25rem;
        .card-image {
          img {
            width: 25rem;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .event-section {
    height: 145rem;
  }
  .event-container {
    .event-cards {
      grid-template-columns: 1fr;
      .card {
        width: 30rem;
        height: 40rem;
        .card-image {
          img {
            width: 30rem;
            height: 20rem;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .event-container {
    .event-cards {
      .card {
        width: 25rem;
        height: 35rem;
        .card-image {
          img {
            width: 25rem;
            height: 15rem;
          }
        }
      }
    }
  }
}
