@import "./colors";
@import "./mixin";
/*..............media query............*/
.header-wrapper {
  height: 10rem;
  width: 100%;
  background-color: #fff;
  .main-header {
    .navbar {
      @include flex-space-between;
      gap: 5rem;
    }
  }
}
.main-header {
  width: 100%;
  @include flex-around;
  padding: 1rem;
  .header-logo {
    text-decoration: none;
    color: red;
    font-size: 2rem;
    gap: 1rem;
    @include flex-center;

    p {
      color: #000;
      font-weight: 700;
      font-size: 2.5rem;
    }
    .logo {
      width: 6rem;
      height: 6rem;
    }
  }
}
#mobile {
  i {
    color: #000;
    font-size: 3rem;
    margin-left:1rem;
    margin-bottom: 10rem;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
  display: none;
}
.navbar {
  .list-item {
    list-style: none;
    // position: relative;
    a {
      text-decoration: none;
      color: #000;
      padding: 1rem 0;
      text-transform: uppercase;
      transition: 0.5s ease;
      font-weight: 600;
      font-size: 1.2rem;
      position: relative;
      &:hover {
        cursor: pointer;
        color: #000;
      
      &::after {
    width:60%;
    content: "";
    position: absolute;
    border-bottom: 2px solid red;
    left:0rem;
    bottom: 0rem;
    padding: 10rem 0rem;
      }

  
      
    }
      
      &:active {
        cursor: pointer;
        color: red;
      }
    }
  }
}
@media (max-width: 990px) {
  .main-header {
    width: 100%;
    flex-direction: column;
    .header-navbar {
      .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        gap: 1rem;
        top: 15rem;
        left: -400px;
        width: 250px;
        height: 50rem;
        padding: 10rem 5rem;
        background-color:#fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.3s ease-out;
      }
    }
  }
  #mobile {
    display: block;
  }
  .header-wrapper {
    .main-header {
      .navbar.mobile-navbar-active {
        left: 0;
        background-color: #fff;
        z-index:1;
      }
    }
  }
  .navbar {
    .list-item {
      a {
        text-decoration: none;
        color: red;
      }
    }
  }
}
@media (max-width: 480px) {
  .main-header {
    .header-navbar {
      .navbar {
        width: 200px;
      }
    }
  }
}
