@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// importing sass
@import "../sass/var";
@import "../sass/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  
}

// Declaring global CSS variables

:root{
  --text-color:#94B49F;
  --main-color:#DF7861;
  --second-color:#ECB390;
  --bg-color:#FCF8E8;


}

// for smooth scroll
html{
  scroll-behavior:smooth;

}
html,
body {
  height: 100%;
  width:100%;
}

/* header style css */
.header-wrapper {
  height: 132px;
  width:100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color:#fff;
}

.header-wrapper .main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

.main-header .header-logo-title {
  text-decoration: none;
  color: $brand-color;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-header .header-logo-title .header-logo .logo {
  width: 70px;
  height: 70px;
}

.main-header.header-logo-title .header-title {
}

.header-wrapper .main-header .header-navbar {
  margin: auto;
}
.header-wrapper .main-header .header-navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  gap: 50px;
}

.header-navbar-list .list-item {
  list-style: none;
  position: relative;
}

.header-navbar-list .list-item a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-size: 18px;

}

.header-navbar-list .list-item a:hover,
.header-navbar-list .list-item a:active {
  cursor: pointer;
  color: #ff8787;
 
  
}

// .header-navbar-list .list-item a:active::after,
.header-navbar-list .list-item a:hover::after {
  padding: 10px 20px;
  width: 10%;
  content: "";
  position: absolute;
  border-bottom: 2px solid #ff8787;
  left: 20px;
  bottom:0px;
  transition:1s;
}

/*................... main style...................*/
// .main-wrapper {
//   width: 100%;
//   background-color: #ddd;
//   // min-height: calc(100vh - 34px);
// }

// .main-wrapper .main-container {
//   width: auto;
// }

/*................................hero section.................... */
.hero-section{
  width: 100%;
  height:500px;
  background-color:gray;
}

.hero-section .hero-container{
  display:flex;
  justify-content:flex-start;

}


.hero-section .hero-container .hero-image {
  width:100%;
  height: 500px;
  // background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 2)),
  //   url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content:space-around;
  align-items:center;

}
.hero-section .hero-container .hero-image img{
  width:400px;
  height:300px;
}

// for slides
.active{
  display:inline-block;
}

.inactive{
  display:none;
}

//
.hero-section .hero-container .hero-image .btn{
  color:#fff;
}

.hero-section .hero-container .hero-image .btn:hover{
  cursor:pointer;
}

.hero-container  .hero-image .hero-content{
  color: #fff;
  line-height:2rem;
  text-align:center;
}
.hero-container  .hero-image .hero-content h1{
  font-size:2rem;
}
.hero-container  .hero-image .hero-content span{
  color:#ff8787;
}

// .hero-container  .hero-image .hero-content .signup-btn{
//   @include btnBgClr(rgb(255, 135, 135), #fff);
// }
.hero-container  .hero-image .hero-content .signup-btn:hover{
  background:#BCE29E;
  color:#000;
}


/*..............................about us..........................*/
.about-section {
  width: 100%;
  height: 500px;
}

.about-section .about-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 40px;
  background-color:#fff;
}


.about-section .about-container .about-left{
  width: 500px;
   height: 300px;
}


.about-section .about-container .about-left .about-content h3 {
  padding: 30px 0px;
  font-size: 30px;
}


.about-section .about-container img{
  width: 400px;
  height: 300px;
}


/*menu */
.menu-section{
  width: 100%;
  height:800px;
  background-color:#fff;
}

.menu-section .menu-container{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}


.menu-container .menu-description{
  line-height:2rem;
}

.menu-container .menu-description h3{
  font-size: 25px;
  text-align: center;
  position: relative;
}


.menu-container .menu-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 2rem;
}

.menu-container .menu-content .menu-card .menu-btn {
  @include btnBgClr(rgb(188, 226, 158), #000);
}

/*why choose food */
.choose-food-container {
  width: 100%;
  height: 700px;
}

.choose-food{
  display:flex;
  flex-direction:column;
  padding:20px;
}
.choose-food-container h3{
  font-size:1.5rem;
  text-align:center;
  padding-top:1.5rem;
  color:var(--main-color)
}
.choose-food-container .choose-food-image {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  align-items: center;
  gap: 0px;
  
}

.choose-food-container .choose-food-image .left-food-image .food-image {
  flex: 400px;
  height: 400px;
  object-fit: cover;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  filter: drop-shadow(-22px 16px 20px #000);
}

.choose-food-container .choose-food-image .right-food-info {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-food-info .food-taste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.right-food-info .food-taste .food-icon .icon .MuiSvgIcon-root{
  color:var(--second-color);
  font-size:2rem;
  
}



.right-food-info .food-taste .food-title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}




/* hall container*/
.hall-container {
  width: 100%;
  height: 600px;
  background-color:var(--bg-color);
}

.hall-container .hall-main-info {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 100px 20px;
}

.hall-container .hall-main-info .hall-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hall-container .hall-main-info .hall-info .hall-book-btn .book-btn{
    padding:10px 20px;
    background-color:var(--main-color);
    color:#fff;
    border-radius:5px;
    border:1px solid #fff;
    transition:1s;


}


.hall-container .hall-main-info .hall-info .hall-book-btn .book-btn:hover{
    border:1px solid #fff;
    padding:10px 20px;
    border:1px solid var(--main-color);
    background-color:#fff;
    color:var(--main-color);
    cursor: pointer;




}

.hall-container .hall-main-info .hall-info h4 {
  font-size: 25px;
}

.hall-container .hall-main-info .hall-image-data {
  display: flex;
}
.hall-container .hall-main-info .hall-image-data .hall-img {
  width: 400px;
  height: 300px;
  transform: translate(100px, 90px);
  border: 4px solid #fff;
}
.hall-container .hall-main-info .hall-image-data .hall-img-pizza {
  width: 400px;
  height: 300px;
}

.hall-container .hall-main-info .hall-info {
}


/* hall mobile responsive*/

/* client review */
.client-review{
    width:100%;
    height:600px;
    background-color:#fff;

}

.client-review .client-container{
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:50px 0px;
    gap:30px;
}

.client-review .client-container .client-title h4{
    font-size:25px;
}


.client-review .client-container .client-review-section{
    display:flex;
    justify-content:space-around;
    padding:5rem;
}


.client-review-section .client-section{
  display:flex;
  flex-direction:column;

}

.client-review-section .client-section .client-para{
  width:auto;
  height:200px;
  border:1px solid #ccc;
  padding:2rem;
}

.client-review-section .client-section{
  padding:20px 70px;
}

.client-review-section .client-section .client-details{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    padding:20px;
}


.client-review-section .client-section .client-details .client-image img{
  width:50px;
  height:50px;
  border-radius:50%;
}

.client-review-section .client-section .client-details .client-info h5{
      padding:5px 0px;  
}


/* client review mobile responsive*/

@media screen and (max-width:768px) {
  .client-review{
    width:100%;
    height:800px;

}

.client-review .client-container{
    padding:1rem 0rem;
    gap:0.5rem;
}

.client-review .client-container .client-title h3{
    font-size:1.2rem;
}


.client-review .client-container .client-review-section{
    display:flex;
    padding:2rem;
    flex-wrap: wrap;
}


.client-review-section .client-section{
  gap:0rem;
}

.client-review-section .client-section .client-para{
  width:400px;
  height:150px;
  border:1px solid #ccc;
  padding:1rem;
}

.client-review-section .client-section{
  padding:20px 70px;
}

.client-review-section .client-section .client-details{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.client-review-section .client-section .client-details .client-image img{
  width:30px;
  height:30px;
  border-radius:50%;
}

.client-review-section .client-section .client-details .client-info h5{
      font-size:1rem;
}
}


/*............................gallery............................... */
.gallery{
  width:100%;
  height:600px;
}

.gallery .gallery-container{
    display:flex;
    align-items:center;
    flex-direction:column;
  
}

.gallery .gallery-container .gallery-title h3{
  margin-top:2rem;
  font-size:1.5rem;
}


.gallery .gallery-container .gallery-images{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column:4px;
  grid-row: 5px;
  padding-top:50px;
  gap:2rem;
}

.gallery .gallery-container .gallery-images img{
  width:300px;
  height:200px;
}

/* gallery mobile responsive*/

@media screen and (max-width:768px){
  .gallery{
    width:100%;
    height:700px;
  }

  .gallery .gallery-container .gallery-title h3{
    margin-top:2rem;
    font-size:1.2rem;
  }
  
  
  .gallery .gallery-container .gallery-images{
    grid-template-columns:1fr 1fr;
  }
  
  .gallery .gallery-container .gallery-images img{
    width:200px;
    height:150px;
  }


}

// /* footer section */
.footer-section{
  width:100%;
  height:400px;

}
.main-footer{
  // position:relative;
  width:100%;
  height:400px;
  background-color:rgb(26, 26, 26);
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  // bottom:0;
  // left:0;
}

.main-footer .footer-top{
  display:flex;
  justify-content:space-around;
  padding-top:2rem;
  flex-wrap:wrap;
}

.main-footer .footer-top .footer-title{
  color:#fff;
  letter-spacing:0.1rem;
}

.main-footer .footer-top .contact h3{
  font-size:1.5rem;

}

.main-footer .footer-top .contact .footer{
  display:flex;
  align-items:center;
  gap:3rem;
  padding:1rem 0;
  line-height:2rem;

}
.main-footer .footer-top .contact .footer .icon{
  padding:0.5rem 1rem;
  border:1px solid #fff;
  border-radius:0.5rem;
}

.main-footer .footer-top .quicklinks h3{
  font-size: 1.5rem;
  
}

.main-footer .footer-top .quicklinks .quicklinks-details ul li{
  list-style:none;
  padding:1rem 0;
  font-size:1rem;
  border-bottom:1px solid gray;
    
}


.main-footer .footer-top .google-map img{
  width:400px;
  height:270px;


}


.main-footer .footer-bottom{
  display:flex;
  background-color:rgb(14, 13, 13);
  justify-content:space-around;
  align-items:center;
  color:#fff;
  gap:2rem;
  padding:2rem;

}

.main-footer .footer-bottom .copyright{
  font-size:1rem;
}
.main-footer .footer-bottom .sociallinks{
  display:flex;

}
.main-footer .footer-bottom .sociallinks span{
  padding:0 1rem;
}


/*........footer mobile responsive...... */
@media screen and (max-width:768px) {
  .main-footer{
    height:65rem;
  }

  .main-footer .footer-top{
    flex-direction:column;
    padding:2rem;
  }

  .main-footer .footer-top .footer-title{
    color:#fff;
    margin:1.3rem;
  }

  .main-footer .footer-top .contact h3{
    font-size:1.2rem;
  }
  
  .main-footer .footer-top .contact .footer{
    gap:2rem;
    padding:1rem 0;
    line-height:1rem;
  
  }
  .main-footer .footer-top .contact .footer .icon{
    padding:0.2rem 0.4rem;
  }
  
  .main-footer .footer-top .quicklinks h3{
    font-size: 1.2rem;
    
  }
  
}
/*-------------------------------for mobile responsive---------------------------*/
// @media screen and (max-width:768px){
//   .header-wrapper {
//     height: 132px;
//     width: auto;
//   }
  
// }