@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// importing sass
@import "../sass/var";
@import "../sass/mixin";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

/* header style css */
.header-wrapper {
  height: 132px;
  width: auto;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #e5ebb2;
}

.header-wrapper .main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

.main-header .header-logo-title {
  text-decoration: none;
  color: $brand-color;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-header .header-logo-title .header-logo .logo {
  width: 70px;
  height: 70px;
}

.main-header.header-logo-title .header-title {
}

.header-wrapper .main-header .header-navbar {
  margin: auto;
}
.header-wrapper .main-header .header-navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header-navbar-list .list-item {
  list-style: none;
  position: relative;
}

.header-navbar-list .list-item a {
  text-decoration: none;
  color: #ff8787;
  padding: 10px 20px;
  font-size: 18px;
}

.header-navbar-list .list-item a:hover,
.header-navbar-list .list-item a:active {
  cursor: pointer;
  color: #f8c4b4;
}

// .header-navbar-list .list-item a:active::after,
.header-navbar-list .list-item a:hover::after {
  padding: 10px 20px;
  width: 10%;
  content: "";
  position: absolute;
  border-bottom: 3px solid #f8c4b4;
  left: 20px;
}

/*................... main style...................*/
.main-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}

.main-wrapper .main-container {
  width: auto;
  height: 100vh;
}

.main-wrapper .main-container .top-container-img {
  width: auto;
  height: 500px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.9)),
    url("../images/aboutimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.top-container-img .top-img-title {
  height: 100px;
  color: #fff;
  line-height: 30px;
}

.top-container-img .top-img-btn {
  @include btnBgClr(rgb(255, 135, 135), #fff);
}

// /* Responsive layout makes a one column layout insted of two colum layout */
// // @media (max-width:60px) {
// //     .meal-card-container .meal-card{
// //         // flex:10%;
// //     }

// // }

// .meal-card .meal-btn:hover{
//     background-color:#F8C4B4;
//     cursor:pointer;
//     border:1px solid #ddd;
//     color:#fff;
// }

// .article-about{
//     width:100%;
//     height:400px;
//     margin-top:100px;
//     display:flex;
//     justify-content:center;
//     align-items:center;
//     // flex-wrap:wrap;
//     padding:20px;
//     gap:1.5rem;
// }

// .article-about .about-left-content{
//     flex:50%;

// }

// // .about-left-content{
// //     width:50vw;
// // }

// .about-left-content .about-img{
//     width:400px;
//     height:200px;
// }
// .article-about .about-right-content{
//     flex:50%;
// }

// .article-hurryup{
//     width:100%;
//     height:400px;
//     @include flexprop;
//     padding:20px;
//     flex-wrap:wrap;

// }

// .article-hurryup .hurryup-left-content{
//     width:300px;
//     height:200px;

// }

// .article-hurryup .hurryup-right-content .hurryup-img{
//     width:400px;
//     height:200px;

// }

// .choose-food{
//     width:100%;
//     height:100%;

// }

// .food-card{
//     width:100%;
//     height:500px;
//     @include  flexprop;
//     flex-direction:column;
//     background-color:#BCE29E;

// }
// .choose-food .food-list{
//     display:flex;
//     justify-content:space-between;
//     align-items:center;
//     gap:10px 50px;
//     flex-wrap:wrap;
// }

// .choose-food .food-list .food-item{
//     background-color:#ddd;
//     width:200px;
//     height:100px;
// }

// .client-review-section{
//     width:100%;
//     height:300px;
//     display:flex;
//     justify-content:space-around;
//     align-items:center;

// }

// .client-review-section .client-info{
//     width:50%;
// }

// .client-review-section .client-review{
//     width:50%;

// }

// /* footer section */
// .footer-wrapper{
//     width:100%;
//     height:300px;
//     background-color:#ddd;

// }

// .footer-wrapper .main-footer{
//             display:flex;
//             justify-content:space-around;

// }

/* about us*/
.about-section {
  width: 100%;
  height: 500px;
}

.about-section .about-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 40px;
}

.about-section .about-content .about-left-section {
  width: 500px;
  height: 300px;
}

.about-section .about-content .about-left-section .left-content h3 {
  padding: 30px 0px;
  font-size: 30px;
}

.about-section .about-content .about-right-content .right-content-image {
  width: 400px;
  height: 300px;
}

/*menu */
.menu-container {
  width: 100%;
  height: 600px;
}

.menu-container .main-menu {
  width: 100%;
  padding: 30px;
  // background-image: url("../images/restaurant.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #ccc;
}

.menu-container .main-menu .menu-para h4 {
  font-size: 25px;
  text-align: center;
  position: relative;
}

.menu-container .main-menu .menu-para h4::after {
  // content kei pani n arakhne
  content: "";
  position: absolute;
  border-bottom: 1px solid red;
  bottom: -100%;
  left: 50%;
}

.menu-container .main-menu .menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 2rem;
}

.menu-container .main-menu .menu-section .menu-btn {
  @include btnBgClr(rgb(188, 226, 158), #000);
}

/*why choose food */
.choose-food-container {
  width: 100%;
  height: 500px;
}

.choose-food-container .choose-food-image {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  align-items: center;
  gap: 0px;
}

.choose-food-container .choose-food-image .left-food-image {
}

.choose-food-container .choose-food-image .left-food-image .food-image {
  flex: 400px;
  height: 400px;
  object-fit: cover;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  filter: drop-shadow(-22px 16px 20px #000);
}

.choose-food-container .choose-food-image .right-food-info {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-food-info .food-taste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.right-food-info .food-taste .food-title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

/* hall container*/
.hall-container {
  width: 100%;
  height: 600px;
  background-color: #BCE29E;
}

.hall-container .hall-main-info {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 100px 20px;
}

.hall-container .hall-main-info .hall-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hall-container .hall-main-info .hall-info h4 {
  font-size: 25px;
}

.hall-container .hall-main-info .hall-image-data {
  display: flex;
  gap: 20px;
}
.hall-container .hall-main-info .hall-image-data .hall-img {
  width: 200px;
  height: 300px;
  transform: translate(100px, 90px);
  border: 4px solid #fff;
}
.hall-container .hall-main-info .hall-image-data .hall-img-pizza {
  width: 500px;
  height: 300px;
}

.hall-container .hall-main-info .hall-info {
}
