// importing SCSS

@import "./assets/style/var";
@import "./assets/style/mixin";
@import "./assets/style/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-lato;
}

// for smooth scroll
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  // it means 1rem = 10px
}

h1 {
  font-size:$h1; /* 45px */
}

h2 {
  font-size:$h2; /* 36px */
}

h3 {
  font-size:$h3; /* 32px */
}

h4 {
  font-size:$h4; /* 26px */
}

h5 {
  font-size:$h5; /* 22px */
}

h6 {
  font-size:$h6; /* 18px */
}

p{
  font-size:$p;
}


html,
body {
  height:height;
  width:height;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
